*.suo
*.suo
CuandoTocan/CuandoTocan.suo
*.suo
*.cache
CuandoTocan/CuandoTocan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
CuandoTocan/CuandoTocan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
CuandoTocan/CuandoTocan.suo
CuandoTocan/CuandoTocan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CuandoTocan/CuandoTocan/obj/Debug/CuandoTocan.dll
*.dll
CuandoTocan/CuandoTocan.suo
*.pdb
CuandoTocan/CuandoTocan/CuandoTocan.csproj.user
*.dll
CuandoTocan/CuandoTocan/obj/Debug/CuandoTocan.pdb
*.dll
*.dll
CuandoTocan/CuandoTocan/CuandoTocan.csproj
*.pdb
*.dll
CuandoTocan/CuandoTocan.suo
CuandoTocan/CuandoTocan.suo
CuandoTocan/CuandoTocan.suo
CuandoTocan/CuandoTocan/bin/CuandoTocan.dll
CuandoTocan/CuandoTocan/obj/Debug/CuandoTocan.dll
CuandoTocan/CuandoTocan/obj/Debug/CuandoTocan.pdb
CuandoTocan/CuandoTocan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CuandoTocan/CuandoTocan/obj/Debug/Package/CuandoTocan.zip
CuandoTocan/CuandoTocan/obj/Debug/Package/PackageTmp/bin/CuandoTocan.dll
CuandoTocan/CuandoTocan/obj/Debug/Package/PackageTmp/bin/CuandoTocan.pdb