*.suo
*.suo
CuandoTocan/CuandoTocan.suo
*.suo
*.cache
CuandoTocan/CuandoTocan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
CuandoTocan/CuandoTocan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
CuandoTocan/CuandoTocan.suo
CuandoTocan/CuandoTocan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CuandoTocan/CuandoTocan/obj/Debug/CuandoTocan.dll
*.dll
CuandoTocan/CuandoTocan.suo
*.pdb
CuandoTocan/CuandoTocan/CuandoTocan.csproj.user
*.dll
CuandoTocan/CuandoTocan/obj/Debug/CuandoTocan.pdb
*.dll