*.suo
*.suo
CuandoTocan/CuandoTocan.suo
*.suo
*.cache
CuandoTocan/CuandoTocan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
CuandoTocan/CuandoTocan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo
CuandoTocan/CuandoTocan.suo
CuandoTocan/CuandoTocan/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache