/*body
{
    background-image: url("../img/fondo.png");
}
*/
#divHome
{
    margin: auto;
    width: 1024px;
}


#divBuscador input
{
background-image: url("../img/lupa.jpg");
background-position: 6px center;
background-repeat: no-repeat;
background-size: 23px auto;
border-radius: 10px;
height: 30px;
padding-left: 37px;
width: 250px;
}

#divCabecera
{
background-color: #333333;
overflow: hidden;
width: 100%;
}

#divLogo
{
float: left;
margin: 10px;
overflow: hidden;
}

#divLogo img
{
height: 100px;
width: 100px;
}

#divBuscador
{
float: right;
margin-right: 150px;
margin-top: 40px;
overflow: hidden;
}

#divLogin 
{
float: right;
    margin-right: -342px;
    margin-top: 48px;
    overflow: hidden;
}

#divLogin
{
float: right;
    margin-right: -362px;
    margin-top: 24px;
    overflow: hidden;
}
    
#divLogin ul
{
    cursor: pointer;
    display: block;
    list-style: outside none none;
}

#divLogin ul li
{
/*background-color: #22b573;*/
    border-radius: 5px;
    color: white;
}

#divLogin  ul li h1
{
border-bottom: 0 none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 4px 5px;
    text-align: center;
    width: 70px;
 
}



/*Slider*/
/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
    position: absolute;
}

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../img/Slider/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l                  (normal)
.jssora12r                  (normal)
.jssora12l:hover            (normal mouseover)
.jssora12r:hover            (normal mouseover)
.jssora12l.jssora12ldn      (mousedown)
.jssora12r.jssora12rdn      (mousedown)
*/
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url('../img/Slider/a12.png') no-repeat;
    overflow: hidden;
}

.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }



#divCuerpo
{
width: 100%;
overflow: hidden;
}

#divCuerpoTopIzq
{
float: left;
    margin: 20px 0;
}

#divCuerpoTopDer
{
float: right;
    margin-bottom: 20px;
    margin-right: 88px;
    margin-top: 20px;
}

#lblProxEventos
{
border-bottom: medium solid #22b573;
padding-bottom: 0px;
font-size: 19px;
}

#lblArtDestacados
{
border-bottom: medium solid #22b573;
padding-bottom: 0px;
font-size: 19px;
}





#divGallery
{
float: left;
overflow: hidden;
width: 720px;
}

#divGallery .col-lg-3 {
    width: 240px;
}

#divGallery .thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 3px;
    transition: all 0.2s ease-in-out 0s;
}

#divGallery .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 
{
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}








#divDescatados
{
float: right;
    overflow: hidden;
    width: 260px;
}

#divDescatados .row {
    margin: 0;
}

#divDescatados .col-md-7 {
    float: left;
    height: 65px;
    margin: 0;
    padding: 0;
    width: 80px;
}

#divDescatados .col-md-5 {
    float: left;
    margin: 22px 0 0;
    padding-left: 15px;
    padding-right: 0;
    width: 150px;
}

#divDescatados .col-md-7 img
{
    height: 65px;
    width: 80px;
}

#divDescatados hr 
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

#divDescatados .col-md-5 .h4 
{
    font-size: 18px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}












#divFooter
{
    text-align: center;
    padding: 25px;
}

#spanFooter
{

}

@media (min-width: 768px) {
   #mdAnA{
    width: 600px;
    margin: 30px auto;
  }

.modal.fade  #mdAnA
{
    width:60%;
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate3d(0, -25%, 0);
       -o-transform: translate3d(0, -25%, 0);
          transform: translate3d(0, -25%, 0);
}
.modal.in #mdAnA{
  -webkit-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */