body
{
    background-image: url("../img/fondo.png");
}

#divHome
{
    margin: auto;
    width: 100%;
}

#divBuscador .col-lg-6
{
    width: 100%;
}

#divBuscador .input-group-addon, .input-group-btn

{
    width:  28%;
}
#divCabecera
{
background-color: #333333;
    height: 103px;
    overflow: hidden;
    width: 100%;
}

#divLogo
{
float: left;
margin-bottom:-28px;
margin-left:10%;
margin-top:-0,4%;
position:absolute;
z-index: 1;    
}

#divLogo img
{
height: 60%;
    margin-top: 5%;
    width: 78%;
    
}

#divBuscador
{
    float: left;
    margin-left: 40%;
    margin-top: 3%;
    overflow: hidden;
    padding-bottom:2%;
    width: 30%;
}

#logged
{
    color:#ffffff;
}

#divLogin 
{
    float: left;
    margin-left: 12%;
    margin-top: 2.8%;
    overflow: hidden;
}

#afterlogged
   {
float: left;
    margin-left: 1%;
    margin-top: 3%;
    overflow: hidden;
}
#divLogin ul
{
    cursor: pointer;
    display: block;
    list-style: outside none none;
    margin-bottom: 0;
    margin-top: 0;
}

#divLogin ul li
{
  /*background-color: #22b573;*/
    border-radius: 5px;
    color: white;
}

#divLogin  ul li h1
{
border-bottom: 0 none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 4px 5px;
    text-align: center;
    width: 70px;
 
}

#lblLogin
{
    text-align:center;
}

/*Slider*/
/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
    position: absolute;
}

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../img/Slider/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l                  (normal)
.jssora12r                  (normal)
.jssora12l:hover            (normal mouseover)
.jssora12r:hover            (normal mouseover)
.jssora12l.jssora12ldn      (mousedown)
.jssora12r.jssora12rdn      (mousedown)
*/
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url('../img/Slider/a12.png') no-repeat;
    overflow: hidden;
}

.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }



#divCuerpo
{
margin: 0 auto;
    overflow: hidden;
    width: 90%;
}

#divCuerpoTopIzq
{
float: left;
  margin: 2% 5% 1%;
}

#divCuerpoTopDer
{
  float: right;
    margin-bottom: 1%;
    margin-right: 12%;
    margin-top: 2%;    
}

#ContentHomeCenterMed_lblProxEventos
{
border-bottom: medium solid #22b573;
padding-bottom: 0px;
font-size: 19px;
}

#ContentHomeCenterMed_lblArtDestacados
{
border-bottom: medium solid #22b573;
padding-bottom: 0px;
font-size: 19px;
}





#divGallery
{
    float: left;
    overflow: hidden;
    width: 70%;
}

#divGallery .divImagen {
    float: left;
    margin: 5px;
}

#divGallery .imgA {
    height: 150px;
    width: 200px;
}


#divGallery .imgGallery {
    border-radius: 10px;
    height: 150px;
    width: 200px;
}



#ContentHomeCenterMed_proximos .divImagen img
{
   height: 160px;
    width: 254px;  
     border-radius: 10px;
}

#ContentHomeCenterMed_proximos #text
{
    z-index:100;
    position: absolute; 
    color:white;
    
    font-size: 19px;
    font-weight: normal;
    left: 150px;
    margin: 20% 0 0 -5.2%;
    width: 254px;  
    top:350px;
}

#contenedor .col-md-3 {
    width: 13%;
}


.divImagen .text

{color:white;
 font-weight:bold;
 position: absolute;
 background: rgba(0, 0, 0, 0.75);
 margin: -4.8% 0 0 0;
 padding-left: 0.5%;
 width: 254px;
  
 }

#ContentHomeCenterMed_proximos
{
    margin: 0 4.4%;
    float:left;
    clear:left;
    overflow: hidden;
     width: 65%;
    
    .height: 600px;
}

/*#ContentHomeCenterMed_proximos #divImagen
{
    display:inline-table;
}*/

#ContentHomeCenterMed_proximos1

{
    height: 15%;
    width: 32%;
    margin: 4px;
    float:left;

}

#ContentHomeCenterMed_lblAsiste.btn.btn-success {
    margin-left: 4%;
    cursor:none;
}


#ContentHomeCenterMed_lblAsiste.btn:hover {
    text-decoration: none;
     cursor: default; 
}

#ContentHomeCenterMed_lblAsiste.btn:focus {
    text-decoration: none;
   
}

#ContentHomeCenterMed_divDescatados
{
float: right;
    margin-top: 1px;
    overflow: hidden;
    width: 22.5%;
    margin:   0.85% 4% 0 -10%;
    
}

#ContentHomeCenterMed_divDescatados .row {
    margin: 0;
}

#ContentHomeCenterMed_divDescatados .col-md-7 {
    float: left;
    height: 65px;
    margin: 0;
    padding: 0;
    width: 80px;
}

#ContentHomeCenterMed_divDescatados .col-md-5 {
    float: left;
    margin: 22px 0 0;
    padding-left: 15px;
    padding-right: 0;
    width: 68%;
}

#ContentHomeCenterMed_divDescatados .col-md-7 img
{
    height: 65px;
    width: 80px;
    border-radius: 10px;
}

#ContentHomeCenterMed_divDescatados hr 
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

#ContentHomeCenterMed_divDescatados .col-md-5 .h4 
{
    font-size: 17px;
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}



#divPerfilArtistas
{
    margin-top: 2%;
}

#divPerfiEve .module {
background: #ffffff none repeat scroll 0 0 padding-box;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    float: right;
    margin: 3px 5px 25px;
    padding: 10px;
    width: 70%;
}



#divFooter
{
    background-color: #333333;
    margin-top: 2%;
    padding: 25px;
    text-align: center;
    width: 100%;
}

#spanFooter
{
    color: White;
}









@media (min-width: 768px) {
   #mdAnA{
    width: 600px;
    margin: 30px auto;
  }

.modal.fade  #mdAnA
{
    width:50%;
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate3d(0, -25%, 0);
       -o-transform: translate3d(0, -25%, 0);
          transform: translate3d(0, -25%, 0);
}
.modal.in #mdAnA{
  -webkit-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */



/*   MApS */

 #map {
  position: relative;
}

#gmap {
  height:450px;  
}
  /* evento*/

#divPerfilEvento
{
    margin-top: 2%;
}

 /*  #divPerfilEvento{
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
   }*/

#map_canvas
{
    
  width: 100%; 
  height: 300px;
  margin-top:23%;
    }
    

   
    #divPerfilEvento .moduleE
     {
 background: #ffffff none repeat scroll 0 0 padding-box;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    float: right;
    padding: 10px;
    width: 70%;
}

#divPerfilEvento a {

    color:#333333;
    text-decoration:none;
}

a:visited {

    color:#333333;
   
}

#divPerfilEvento a:hover
{
    color:#38bc81;
       
}
#divPerfilEvento a:active
{
    color:#22b573;
}

#divIzquierdaE .col-md-4
{
    margin-top: 5px;
    width: 29%;
}


#divIzquierdaE .col-md-5
{    width: 40%;
}

#divPerfilEvento .moduleE .title {
    background: #22b573 none repeat scroll 0 0 padding-box;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #fff !important;
    margin: -24px -10px 10px;
    padding: 10px;
}

#divPerfilEvento .moduleE .title a {
    color: #fff;
    text-decoration: none;
}

#divPerfilEvento .resume-body {
    color: #000;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 0;
}

#divPerfilEvento .modal-body {
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
}

#divPerfilEvento .modal-body span
{
      color: #22b573;
       font-size: 18px;
}


.modal-body  .col-sm-10
{margin-left: 11%;
}

/* ============Registracion ======*/
#divPerfilRegistracion  
{   
    background: #ffffff none repeat scroll 0 0 padding-box;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
/*   float: right; */
    padding: 10px;
    margin-top:4%;
    }
    
    
#divPerfilRegistracion .moduleR .title {
    background: #22b573 none repeat scroll 0 0 padding-box;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #fff !important;
    margin: -24px -10px 10px;
    padding: 10px;
}

#divPerfilRegistracion .moduleR .title a {
    color: #fff;
    text-decoration: none;
}

#divPerfilRegistracion .resume-body 
{   font-size: 18px;
    padding-top:5%;
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align:right;
}


#myModalE
{
    color:#000;
}


#myModalE > .modal-dialog
{
 width: 34%;
}



/*Usuario Logueado*/
#divAfterlogged
{
    clear: both;
}

#divAfterlogged .navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

#divAfterlogged .navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#divAfterlogged .icon-size
{
    font-size: 87px;
}


#divAfterlogged .navbar
{
    width: auto;
} 


#divAfterlogged .navbar-fixed-top {
    border-width: 0 0 1px;
    right: 134px;
    top: 32px;
}

#divAfterlogged .navbar-fixed-top, .navbar-fixed-bottom {
    clear: both;
    left: auto;
    position: absolute;
}

#divAfterlogged .navbar-nav.navbar-right:last-child {
    margin-right: auto;
}


#divAfterlogged .imgUserBanda {
    height: 50px;
    width: 50px;
}

#divAfterlogged .navbar-nav > li > a {
    padding-bottom: 0;
    padding-top: 0;
}

#divAfterlogged .navbar-default {
   background-color: inherit;
   border-color: inherit;
}

#divAfterlogged .navbar-default .navbar-nav > li > a {
    color: #22b573;
}

#divAfterlogged .nombreUser
{
    font-size:16px;
}

#divAfterlogged .imgUserBanda2 {
    height: 87px;
    width: 97px;
}

#modificarE 
{
    margin: 0% 0 1% 0;
    float:left;
    clear:left;
    overflow: hidden;
    width: 50%;
    text-align:right;
}

#ContentHomeCenterMed_Grilla > div 
{
    font-weight:bold;
}

.#ContentHomeCenterMed_divCrearEvento {
.    float: left;
.    margin-left: 1.3%;}
